@model MVCAssignment7_1.Models.Donation

@{
    ViewBag.Title = "Create";
}

<h2>Create Donation</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Donation Amount</h4>
        <div class="form-group">
            @Html.LabelFor(model => model.DonationAmount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DonationAmount, new { htmlAttributes = new { @class = "form-control" } })
               
            </div>
        </div>

        <h4>Person Key</h4>
        <div class="form-group">
            @Html.LabelFor(model => model.PersonKey, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PersonKey, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>
        <h4>Donation Date</h4>
        <div class="form-group">
            @Html.LabelFor(model => model.DonationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DonationDate, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Home", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
